# Example ENV file
# הוסף כאן את מפתחות ה-API שלך

HUGGINGFACE_API_KEY=your_huggingface_key
OPENROUTER_API_KEY=your_openrouter_key
QBRAID_API_KEY=your_qbraid_key
IONQ_API_KEY=your_ionq_key
REPLICATE_API_KEY=your_replicate_key
FIREBASE_SECRET=your_firebase_secret
